<div class="container">
<div class="card" [ngClass]="typ" *ngIf="isLoaded" id='detailed-trip'>
  <h1 class="card-header text-center ">{{ trip.name | uppercase }}</h1>
  <div class="card-body text-center">
    <h4 class="text-black-50">{{ trip.destination}}</h4>
    <h4>{{ trip.description }}</h4>
    <div>Trip starts on: {{trip.startDate  | date: 'yyyy-MM-dd'}}</div>
    <div>Trip ends on: {{trip.endDate  | date: 'yyyy-MM-dd'}}</div>
    <div class="text-black-50">Price: {{ trip.price }}zł</div>
    <div class="row">
      <img src="{{trip.photo}}" class="card-img-top"/>
   </div>    
  <app-comment></app-comment>  
  </div>
</div>
</div>
