<div class="card" [ngClass]="typ">
  <div class="card-body text-center">
    <app-rating [rating]='trip.rating' (ratingClick)='ratingComponentClick($event)'></app-rating>
    <h3 class="card-title">{{ trip.name | uppercase }}</h3>
    <h6 class="text-black-50">{{ trip.destination | uppercase }}</h6>
    <div class="row">
        <img routerLink="/home/trip/{{trip.id}}" routerLinkActive class="img-thumbnail img-fluid rounded-circle" [src]="photo" />
     </div>
    <div class="text-black-50">Price: {{ trip.price }}zł</div>
    <div class="row justify-content-center align-items-center">
      <button
        (click)="removeFromCartEvent()"
        type="button"
        [disabled]="trip.freePlaces >= trip.limit"
        class="col-2 btn btn-outline-primary"
      >
        -
      </button>
      <button
        (click)="addToCartEvent()"
        type="button"
        [disabled]="trip.freePlaces <= 0"
        class="col-2 btn btn-outline-primary"
      >
        +
      </button>
    </div>
    <div class="row justify-content-center align-items-center">
    <button
    (click)="deleteTripEvent()"
    type="button"
    class="col-4 btn btn-outline-primary">
      Delete
    </button>
  </div>
    <div class="small" [ngStyle]="{
      color: getTextColor(trip)
    }">
      {{ trip.freePlaces }} places left
    </div>
  </div>
</div>
