<div class="container">
<div class="card">
  <h1 class="card-header text-center ">Add new data</h1>
  <div class="card-body text-center">
    <form [formGroup]="newDataForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label>Date</mat-label>
        <input matInput type="date" formControlName="date">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Number of manual tests</mat-label>
        <input matInput type="number" formControlName="manualTests" min=0 >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Number of passed manual tests</mat-label>
        <input matInput type="number" formControlName="succesManualTests" min=0>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Number of automatic tests</mat-label>
        <input matInput type="number" formControlName="automaticTests" min=0>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Number of passed automatic tests</mat-label>
        <input matInput type="number" formControlName="succesAutomaticTests" min=0>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Number of bugs reported by team</mat-label>
        <input matInput type="number" formControlName="bugsFromTeam" min=0>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Number of bugs reported by clients</mat-label>
        <input matInput type="number" formControlName="bugsFromClients" min=0>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Number of critical bugs</mat-label>
        <input matInput type="number" formControlName="criticalBugs" min=0>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Number of regression bugs</mat-label>
        <input matInput type="number" formControlName="regressionBugs" min=0>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Number of new bugs reported by team since last time data was collected</mat-label>
        <input matInput type="number" formControlName="newBugsFromTeam" min="0">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Number of new bugs reported by clients since last time data was collected</mat-label>
        <input matInput type="number" formControlName="newBugsFromClients" min="0">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Number of fixed bugs (reported by team) since last time data was collected</mat-label>
        <input matInput type="number" formControlName="newFixedBugsFromTeam" min="0">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Number of fixed bugs (reported by clients) since last time data was collected</mat-label>
        <input matInput type="number" formControlName="newFixedBugsFromClients" min="0">
      </mat-form-field>
      <button class="btn  btn-outline-primary mysubmit" type="submit">Add this data</button>
    </form>
  </div>
</div>
</div>



