<fieldset class="rating">
    <input type="radio" [name]="rating" value="5" [checked]="rating===5" />
    <label title="Best Trip ever!" (click)='onClick(5)'></label>

    <input type="radio" [name]="rating" value="4" [checked]="rating===4" />
    <label title="Pretty good" (click)='onClick(4)'></label>

    <input type="radio" [name]="rating" value="3" [checked]="rating===3" />
    <label title="Okay" (click)='onClick(3)'></label>

    <input type="radio" [name]="rating" value="2" [checked]="rating===2" />
    <label title="Bad" (click)='onClick(2)'></label>

    <input type="radio" [name]="rating" value="1" [checked]="rating===1" />
    <label title="Teribble - never again" (click)='onClick(1)'></label>
</fieldset>