<div class="container">
<div class="card">
  <h1 class="card-header text-center ">Add new offer</h1>

  <div class="card-body text-center">
    <form [formGroup]="newTripForm" (ngSubmit)="onSubmit()">
      <input class="form-control" type="text" placeholder="Trip's Name" formControlName="name">
      <input class="form-control" placeholder="Destination" type="text" formControlName="destination">
      <input class="form-control" placeholder="Description" type="text" formControlName="description">
      <input class="form-control" placeholder="Start date" type="date" formControlName="startDate">
      <input class="form-control" placeholder="End date" type="date" formControlName="endDate">
      <input class="form-control" placeholder="Price" type="number" formControlName="price">
      <input class="form-control" placeholder="Limit" type="number" formControlName="limit">
      <input class="form-control" placeholder="Image" type="text" formControlName="photo">
      <button class="btn  btn-outline-primary mysubmit" type="submit">Add this trip</button>
    </form>
  </div>
</div>
</div>