body {
    background-image: url('assets/img/tlo3.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-header{
    background-color:#10828C !important;
}