<div *ngIf="isLoaded && canComment">
    <h3 style="text-align:left">Share your opinion:</h3>
    <textarea style="width:100%" [(ngModel)]="comment" name="comment"
        placeholder="Tell us what you think about this trip."></textarea><br>
        
    <div class="row float-right">
        <textarea [(ngModel)]="name" name="nick" placeholder="Name"></textarea>
        <button (click)="addComment()" name ="add" class="btn btn-info pull-right">Add Comment</button></div><br><br><br>   
</div>  
<div class="row bootstrap snippets container">
    <div class="container">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                 <div class="panel-body">                                
                            <h3>Comments of other customers</h3>
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="media-list" *ngFor="let comment of comments">
                        <li class="media">
                            <a href="#" class="pull-left">
                                <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                            </a>
                            <div>
                                <strong name="commentnick">{{comment.name}}</strong> <span class="text-muted"> commented:</span>
                                <div name="commenttext">
                                    {{ comment.text}}
                                </div>
                            </div>
                        </li>                   
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>